<p>
  Austin, Texas<br>
  <a href="/">devinmckaskle.com</a><br>
  <!-- Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a> -->
</p>

<!-- <p>
  <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a><br>
  <a href="https://github.com/{{ site.github_username }}">Github</a>
</p>

<div class="callout secondary">
  <p>
    Need an iOS developer? I will soon be available for contracting opportunities.
  </p>

  <p>
    Look at my <a href="/past-work/">past work</a> and
    <a href="mailto:{{ site.email }}">get in touch</a>.
  </p>
</div> -->
